*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C2833;
}
#check{
    display: none;
}
.chekbtn{
    color: white;
    float: right;
    display: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 80px;
    margin-right: 40px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav a{
    margin: 0.6em;
    text-decoration: none;
    color: aliceblue;
    font-size: 19px;
}
.seccion-1{
    display: flex;
    background-color:#d1583ad3 ;
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: #1C2833;
    font-family:'Times New Roman', Times, serif;
}
.acerca-de{
    text-align: end;
    width: 30%;
    padding: 3%;
}
.acerca-de P{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.acerca-imagen{
    width: 30%;
}
.acerca-imagen img{
    border-radius: 1em;
    border: 2px #e05b39d3  outset;

}
.seccion-3{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: #d47c59;
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1.5em ;
}

.seccion-3 img{
    border-radius: 1em;
    border-style:ridge;
    width: 70%;
    margin-bottom: 10px;
}
.foot{
    margin: 2em;
    align-items: center;
    text-align: center;
    padding: 2em;
}
.foot h3{
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.foot li{
    font-size: 20px;
    margin-top: 0.5em;
    color: #d47c59;
}
.foot small{
    color: #F8C471;
    position: relative;
    top: 40px;
}
footer{
    background-color: #1C2833;
    padding: 1em;
}
footer h3{
    color: #F8C471;
    margin-bottom: 0.5em;
}
footer li{
    margin: 0.2em;
}
footer a{
    position: fixed;
    bottom: 0.1em;
    right: 1em;
}
footer a:hover{
box-shadow: 0 0 10px #F8C471 ;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvietica", "Arial","sans-serif";
    color: #F8C471;
}
fieldset{
    padding: 2em;

}
form p{
    margin-bottom: 0.5em;
}
form label, input, textarea{
    display: block;
    margin: 1em;
    padding: 0.5em;
    width: 80%;
}
input, textarea{
    height: 1.5em;
    border: 2px solid #d47c59;
    border-radius: 3px;
}
button{
    width: 100%;
    padding: 0.3em;
    border-radius: 3px;
    background-color: #d47c59;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;

}

@media(max-width: 768px){
    header{
        background-color: #F8C471;
    }
    header div img{
        width: 100px;
    }
}
@media(max-width:768px){
    .seccion-1 {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .acerca-de{
        margin-bottom: 1.5em;
        width: 90%;
        text-align: center;
    }
    .acerca-imagen{
        width: 90%;
    }
}
@media(max-width:768px){
    .seccion-3{
        display: flex;
        flex-wrap: wrap;
    }
}
@media(max-width:768px){

    .chekbtn{
        display: block;
    }
    #encabezado ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: aliceblue;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }
    #check:checked ~ ul{
        left: 0;
        display: block;
    }
    #encabezado nav ul li {
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    #encabezado nav ul li a{
        font-size: 20px ;
        color: #1C2833;
    }
    #check:checked ~ .chekbtn{
        color: black;
    }

}

