*{
    margin: 0;
    padding: 0;
    --color1: #0d0420;
    --color2: #6348d5;
    --color3: #29b4e6;
    --color4: #d14bbc;
    --color5: #d3d0da;
    --color6: #fff;
    --color7: #3f2874;
    --color8: #f6ce6c;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
html{
    background: linear-gradient(90deg, rgba(13,8,47,1) 0%, rgba(100,38,111,1) 50%, rgba(183,9,73,1) 100%);
    color: #d3d0da;
}
a{
    text-decoration: none;
    color: var(--color5);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: rgba(13,4,32,0.8);
}
.logo-dl{
    color: var(--color8);
}
.dropdown-logo{
    display: none;
}
#check{
    display: none;
}
.chekbtn{
    color: var(--color6);
    float: right;
    display: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 80px;
    margin-right: 40px;
}
ol,ul{
    list-style: none;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav a{
    margin: 0.8em;
    text-decoration: none;
    color: var(--color6);
    font-size: 22px;
    font-weight: 500;
    padding: 5px;
    letter-spacing: 1px;
    transition: all 0.4s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a:hover{
    border-radius: 10px;
    color: var(--color3);
    box-shadow: 0 0 4px 3px rgb(9, 126, 141);
    border: 2px solid var(--color3);
    letter-spacing: 2px;
}

.seccion-1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: var(--color6);
    font-family: monospace;
    padding: 1em 1em 0;
}
.seccion-1 button{
    padding: 0.8em;
    color: var(--color8);
    font-size: 18px;
    background-color: var(--color1);
    border: 2px solid var(--color8);
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all 0.3s;
}
.seccion-1 button:hover{
    border: 2px solid var(--color3);
    color: var(--color3);
    box-shadow: 0 0 6px 6px rgb(38, 94, 111);
    letter-spacing: 2px;
    border-radius: 10px;
    transform: scale(1);
}
.seccion-1 img{
    width: 24%;
    padding-left: 2em;
}
.acerca-de{
    padding: 2em;
}
.acerca-de span{
    font-weight: 600;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.acerca-de .color1{
    color: var(--color8);
    font-size: 30px;
    text-shadow: 4px 4px 4px  #711074;
}
.acerca-de .color2{
    color: var(--color4);
    font-size: 25px;
    text-shadow: 4px 4px 2px var(--color7);
}
.redes2{
    display: flex;
}
.redes2 li{
    margin: 1em 0.5em;
}
.redes2 i{
    color: var(--color4);
}
.redes2 i:hover{
    color: var(--color8);
}
.seccion-2{
    padding: 2em;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-evenly;

}
.about-me{
    width: 30%;
}
.about-me h2::before{
    content: "";
    border: 2px solid var(--color3);
    border-radius: 20px;
}
.about-me p{
    padding: 0.5em 0;
}
.estudios h2::before{
    content: "";
    border: 2px solid var(--color8);
    border-radius: 20px;
}
.estudios div{
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
    justify-content: center;
}

.estudios img{
    width: 100px;
}
.seccion-3{
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.seccion-3 .skills{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.seccion-4{
    display: flex;
    justify-content: space-around;
    padding: 2em;
    background-color: rgba(0,0,0,0.4);
}
.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1.5em ;
}

.seccion-4 img{
    border-radius: 1em;
    border-style:ridge;
    width: 70%;
    margin-bottom: 10px;
}
.foot{
    margin: 2em;
    align-items: center;
    text-align: center;
    padding: 2em;
}
.foot h3{
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.foot li{
    font-size: 20px;
    margin-top: 0.5em;
    color: #d47c59;
}
.foot small{
    color: #F8C471;
    position: relative;
    top: 40px;
}
footer{
    background-color: rgba(0,0,0,0.4);
    padding: 1em;
}
footer h3{
    color: #F8C471;
    margin-bottom: 0.5em;
}
footer li{
    margin: 0.2em;
}
footer a{
    position: fixed;
    bottom: 0.1em;
    right: 1em;
}
footer a:hover{
box-shadow: 0 0 10px #F8C471 ;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvietica", "Arial","sans-serif";
    color: #F8C471;
}
fieldset{
    padding: 2em;

}
form p{
    margin-bottom: 0.5em;
}
form label, input, textarea{
    display: block;
    margin: 1em;
    padding: 0.5em;
    width: 80%;
}
input, textarea{
    height: 1.5em;
    border: 2px solid #d47c59;
    border-radius: 3px;
}
footer button{
    width: 100%;
    padding: 0.3em;
    border-radius: 3px;
    background-color: #d47c59;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;

} 


@media(max-width:768px){
    .acerca-imagen{
        width: 90%;
    }
    .seccion-1 {
        flex-wrap: wrap ;
        flex-direction: column;
    }
    .acerca-de{
        margin-bottom: 1.5em;
        width: 90%;
        text-align: center;
    }
    .seccion-3{
        display: flex;
        flex-wrap: wrap;
    }
    .chekbtn{
        display: block;
    }
    #encabezado ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: aliceblue;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }
    #check:checked ~ ul{
        left: 0;
        display: block;
    }
    #encabezado nav ul li {
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    #encabezado nav ul li a{
        font-size: 20px ;
        color: #1C2833;
    }
    #check:checked ~ .chekbtn{
        color: black;
    }
}

