*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --color1: #0d0420;
    --color2: #6348d5;
    --color3: #29b4e6;
    --color4: #d14bbc;
    --color5: #d3d0da;
    --color6: #fff;
    --color7: #3f2874;
    --color8: #f6ce6c;
    --color9: #d3d0da;
    --color10: #f97116;
    --color11: #ff6474;
    --color-opacity: rgba(0,0,0,0.5) ;
    --color-header: rgba(13,4,32,0.8);
    --fondo-gradient: radial-gradient(circle, rgba(78,22,85,1) 0%, rgba(93,17,83,1) 48%, rgba(122,6,80,1) 80%, rgba(133,2,79,1) 100%);
    --path-logo: polygon(9% 4%, 6% 9%, 8% 36%, 11% 45%, 9% 64%, 18% 78%, 39% 91%, 51% 95%, 63% 91%, 71% 86%, 82% 79%, 93% 64%, 91% 45%, 93% 36%, 94% 9%, 90% 3%, 69% 16%, 34% 16%);
    ;
    --fondo-cajitas: radial-gradient(circle, rgba(98,37,106,1) 0%, rgba(120,17,93,1) 100%);
    --logo-alura: url("https://avatars.githubusercontent.com/u/64977466?s=280&v=4");
    --icon-html: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/1200px-HTML5_Badge.svg.png");
    --font-family-nav: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
html{
    background: var(--fondo-gradient);
    color: var(--color9);
}

a{
    text-decoration: none;
    color: var(--color5);
}

ol,ul{
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: var(--color-header);
    & .logo{
        clip-path: var(--path-logo);
        width: 45px;
        height: 38px;
        background-color: var(--color5);
        background-color: var(--color7);
        filter: hue-rotate(20deg);
        margin-left: 20px;
        transition: all 0.5s;
        & .logo-dl{
            color: var(--color8);
            text-align: center;
            padding: 0.6em;
            letter-spacing: 1px;
        }
    }
    & .logo:hover{
        filter: hue-rotate(40deg);
        transform: scale(1.3);

    }
    & nav ul{
        display: flex;
        justify-content: center;
        & a{
            margin: 0.8em;
            text-decoration: none;
            color: var(--color6);
            font-size: 22px;
            font-weight: 500;
            padding: 5px;
            letter-spacing: 1px;
            transition: all 0.4s;
            font-family: var(--font-family-nav);
        }
        & a:hover{
            color: var(--color3);
            border-bottom: 4px solid var(--color3);
            letter-spacing: 2px;
        }
    }
}

& #check{
    display: none;
}

& .chekbtn{
    color: var(--color6);
    float: right;
    display: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 80px;
    margin-right: 40px;
}

.seccion-1{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: var(--color6);
    font-family: monospace;
    padding: 1em 1em 0;
    & button{
        padding: 0.8em;
        color: var(--color8);
        font-size: 18px;
        background-color: var(--color1);
        border: 2px solid var(--color8);
        cursor: pointer;
        border-radius: 10px;
        letter-spacing: 1px;
        transition: all 0.3s;
    }
    & button:hover{
        border: 2px solid var(--color3);
        color: var(--color3);
        box-shadow: 0 0 6px 6px rgb(38, 94, 111);
        letter-spacing: 2px;
        border-radius: 10px;
        transform: scale(1);
    }
    & img{
        width: 24%;
        padding-left: 2em;
    }
}

.acerca-de{
    padding: 2em;
    & span{
        font-weight: 600;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    & .color1{
        color: var(--color8);
        font-size: 30px;
        text-shadow: 4px 4px 4px  #921996;
    }
    & .color2{
        color: #c860d1;
        font-size: 25px;
        text-shadow: 4px 4px 2px black
    }
    & .redes2{
        display: flex;
        & li{
            margin: 1em 0.5em;
            & i{
                color: #2f8ab4;
                font-size: 19px;
            } 
            & i:hover{
                color: var(--color8);
            }
        }
    }
}

.seccion-2{
    padding: 2em;
    background-color: var(--color-opacity);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: monospace;
    line-height: 20px;
    letter-spacing: 1px;
    & h2{
        padding: 0.3em;
        padding-right: 0;
        display: block;
        border-right: 2px solid var(--color3);
        animation: typing 3s steps(12) infinite alternate, blink 1s steps(1) infinite;
        width: 0;
        overflow: hidden;
        white-space: nowrap;
    }
    & h2::before{
        content: "";
        border: 2px solid var(--color3);
        border-radius: 20px;
        margin-right: 10px;
    }
    & .about-me{
        width: 50%;
        & p{
            padding: 0.5em 0;
        }
    }
}
@keyframes typing {
    from {
    width: 32%;
    }
    to {
    width: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.estudios{
    & h2{
        animation: typing2 3s steps(12) infinite alternate, blink 1s steps(1) infinite;
    }
    & h2::before{
        content: "";
        border: 2px solid var(--color8);
        border-radius: 20px;
        margin-right: 10px;
    }
    & div{
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        justify-items: center;
        align-items: center;
        padding: 1em;
    }
    
    & img{
        width: 100px;
        opacity: 0.8;
        filter: hue-rotate(100deg);
    }
}
@keyframes typing2 {
    from {
    width: 100%;
    }
    to {
    width: 0;
    }
}
.seccion-3{
    display: flex;
    padding: 2em;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 600px;
    & .skills{
        padding: 0.5em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0 20px;
        align-items: center;
    }
    & .cont{
        padding: 0.2em;
        height: 100%;
        width: 45%;
        & h2{
            letter-spacing: 4px;
            font-weight: 600;
            font-size: 28px;
            color: var(--color5);
            padding-right: 0;
            
        }
        & ul{
            height: 200px;
            & li{
                padding: 0.5em;
                width: 70%;
                letter-spacing: 2px;
                width: 100%;
                height: 70%;
                border: 4px solid var(--color1);
                border-radius: 5px;
                background-color: rgba(48, 17, 77,0.4);
                text-align: center;
                & i{
                    font-size: 50px;
                    padding-bottom: 0.1em;
                }
            }
        }
    }
    & .cert{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "header header"
        "side2 side1";
        grid-gap :10px;
        & .instituciones{
            grid-area: side2;
            display: grid;
            grid-gap: 10px;
            align-items: center;
            grid-template-rows: 1fr 1fr 1fr 1fr ;
        }

    }
    & .certificados{
        grid-area: side1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        & .certi{
            border: 2px solid var(--color1);
            width: 90%;
            height: 24%;
            border-radius: 5px;
            margin: 0.3em 0;
        }  
    } 
}
.seccion-4{
    background-color: var(--color-opacity);
    padding: 2em;
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 30px 1fr 3px 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 30px ;
    grid-template-areas:
    "header header"
    "subt1 subt1"
    "side1 side2"
    "subt2 subt2"
    "side3 side4";
    & h2{
        grid-area: header;
        font-size: 33px;
        font-family: monospace;
        letter-spacing: 3px;
        color: var(--color8);
        text-shadow: 0 0 5px rgba(248, 239, 113, 0.9);
    }
    & .alura{
        grid-area: subt1;
        &::before, &::after{
            content: " — ";
        }
    }
    & .freecode{
        grid-area: subt2;
        &::before, &::after{
            content: " — ";
        }
    }
    & .proyecto{
        width: 70%;
        height: 100%;
        padding: 1em;
        border: 2px solid var(--color8);
        border-radius: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & div{
            display: none;
        }
        & button{
            margin-top: 10px;
            padding: 0.5em;
            color: var(--color6);
            border-radius: 5px;
            cursor: pointer;
            background-color: var(--color1);
            border: 2px solid var(--color4);
            font-size: 20px;
            &:hover{
                box-shadow: 0 0 6px 6px rgba(209, 75, 189, 0.5);
                transform: scale(0.9);
            }
        }
        &:hover div{
            display: inline-block;
        }
    }
    & .card1{
        grid-area: side1;
    }
    & .card1{
        grid-area: side2;
    }
    & .card3{
        grid-area: side3;
        
    }
    & .card4{
        grid-area: side4;
    }
}
.seccion-5{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 300px;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "header header header"
    "sidebar1 midle sidebar2";
    & h2{
        grid-area: header;
        letter-spacing: 4px;
        align-self: end;
        color: var(--color3);
        text-shadow: 0 0 9px rgba(41, 180, 230,0.9);
        font-size: 30px;
    }
    & .net{
        grid-area: sidebar1;
    }
    & .api{
        grid-area: midle;
    }
    & .web{
        grid-area: sidebar2;
    }
    & div{
        width: 65%;
        height: 70%;
        border: 4px solid var(--color-opacity);
        text-align: center;
        padding: 1em;
        background: var(--fondo-cajitas);
        & p{
            font-size: 20px;
            padding: 0.5em;
        }
        & i{
            font-size: 27px;
            color: var(--color3);
        }    
    }
}
.foot{
    & small{
        color: #F8C471;
        position: relative;
        top: 40px;
    }
}
footer{
    background-color: rgba(0,0,0,0.4);
    padding: 2em;
    & h2, p{
        color: var(--color8);
        margin-bottom: 0.6em;
        text-align: center;
    }
    & h2{
        font-size: 30px;
        letter-spacing: 4px;
    }
    & form{
        width: 40%;
        height: 80%;
        margin: auto;
        font-family: "Helvietica", "Arial","sans-serif";
        color: var(--color5) ;
        padding-bottom: 1em;
        & small{
            display: block;
            margin-top: 20px ;
            text-align: center;
        }
        & fieldset{
            background-color: rgba(75, 26, 71, 0.4);
            box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
            padding: 1em;
            width: 100%;
            border: none;
            & label{
                display: block;
                width: 100%;
                padding: 0.5em;
            }

            & input, textarea{
                padding: 0.8em;
                height: 1.5em;
                border: 2px solid var(--color8);
                border-radius: 3px;
                width: 100%;
                margin: 0.3em 0;
            }
            & textarea{
                overflow:visible;
            }
            & button{
                display: block;
                cursor: pointer;
                width: 50%;
                padding: 0.5em;
                border-radius: 5px;
                font-size: 18px;
                margin: auto;
                background-color: rgba(55, 31, 71, 0.4);
                color: var(--color5);
                border: 2px solid var(--color8);
                letter-spacing: 2px;
                
                &:hover{
                    background-color: var(--color1);
                    color: var(--color8);
                    border: 2px solid var(--color8);
                    letter-spacing: 4px;
                    transform: scale(0.9);
                    box-shadow: 0 0 6px 6px rgba(230, 186, 41, 0.6);
                }/* font-family: 'Courier New', Courier, monospace; */
            } 
        }
    }
    & .tuerca{
        position: fixed;
        right: 0;
        bottom: 0;
        height: 50px;
        width: 10%;
        transition: all 1s;
        display: block;
        & .settings-bar{
            display: none;
        }
        & i{
            font-size: 40px;
            color: var(--color3);
        }
        & #toggle-settings:checked .settings-bar{
            width: 50%;
            height: 10%;
            background-color: #0d0420;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}


@media(max-width:768px){
    .acerca-imagen{
        width: 90%;
    }
    .seccion-1 {
        flex-wrap: wrap ;
        flex-direction: column;
    }
    .acerca-de{
        margin-bottom: 1.5em;
        width: 90%;
        text-align: center;
    }
    .seccion-3{
        display: flex;
        flex-wrap: wrap;
    }
    .chekbtn{
        display: block;
    }
    #encabezado ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: aliceblue;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
    }
    #check:checked ~ ul{
        left: 0;
        display: block;
    }
    #encabezado nav ul li {
        display:block;
        margin: 50px 0;
        line-height: 30px;
    }
    #encabezado nav ul li a{
        font-size: 20px ;
        color: #1C2833;
    }
    #check:checked ~ .chekbtn{
        color: black;
    }
}

